proxy-server/target
micro_content_matcher/project/target
.history
micro_content_matcher/target
proxy-server/logs
proxy-server/metastore_db
derby.log
ftp-kafka-source-coverter/target
target
Docker-MicroContentMatcher/metastore_db
micro-content-matcher/metastore_db
sports-cloud-parsers/metastore_db
sports-cloud-schedulers/metastore_db
micro-content-matcher/non-transitive/metastore_db
proxy-server/bin
sports-cloud-rest-server/bin
.DS_Store
.project
.classpath
sports-cloud-common/.settings
sports-cloud-rest-server/.settings
micro-content-matcher/.idea
sports-cloud-dcos-schedulers/.idea
sports-cloud-rest-server/.idea
